@use "valaxy/client/styles/mixins/index.scss" as *;
@use './markdown.css' as *;

/* 1.1.general-setting-pages *************************/
/****************************************************/
:root {
  --pr-color: #fff;
  --second-color: #050505;
  --cubicbz: cubic-bezier(0.9 0 0.1 1);
  --fz-big: 60px;
  --st-c-footer-height: 90px;
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

html {
  background-color: var(--c-bg);
  overflow-x: hidden;
  overflow-y: scroll;
}

html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

::selection {
  background: #8884;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #888;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

* {
  box-sizing: border-box;
  font-family: Syne sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
  font-feature-settings: pnum on lnum on;
  border-style: none;
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

.sakura-navbar {
  position: fixed
}

/******************************************/
section {
  padding-top: 150px;
  padding-bottom: 50px;
}

.content {
  width: 100%;
  padding: 0 70px;
}

// Ensure that the home page style of the mobile terminal is displayed correctly
.container {
  @include tablet {
    & {
      max-width: 100% !important;
      padding: 0 30px;
    }
  }
  @include mobile {
    & {
      max-width: 100% !important;
      padding: 0 10px;
    }
  }
}



.char {
  display: inline-block;
}

/* Paralax Effect On GSAP **********************************/
/* header ********/

.header__marq {
  width: 100%;
  height: auto;
  background: #171717;
  overflow: hidden;
}

.header__marq-wrapp {
  display: flex;
  width: 100%;
  height: auto;
}

.header__marq-txt {
  position: relative;
  flex: 0 0 auto;
  display: inline-block;
  padding-right: 55px;
  margin-right: 15px;
  text-transform: uppercase;
  color: var(--pr-color);
  color: #9e9e9e;
  font-size: 30px;
}

.header__marq-star {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
}

.header__marq-star img {
  display: block;
  width: 100%;
  height: 100%;
}

.gasp_title {
  position: relative;
  margin: 0;
  font-size: 85px;
  text-align: center;
  color: var(--pr-color);
  text-transform: uppercase;
  mix-blend-mode: difference;
  z-index: 2;

  @include tablet {
    & {
      font-size: 70px
    }
  }
  @include mobile {
    & {
      font-size: 50px
    }
  }
  .title_parallax {
    display: inline-block;
    will-change: transform;
  }
}

.title .stroke {
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px var(--pr-color);
}

.gsap_header__img {
  clip-path: polygon(0% 0% 0% 0% 0% 100% 0% 100%);
}

.theme-section-title {
  position: relative;
  margin: 0;
  color: var(--pr-color);
  line-height: 0.8 !important;
  font-size: 4.2em !important;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    & {
      font-size: 3.75em !important;
    }
  }

  @include mobile {
    & {
      font-size: 2.5em !important;
    }
  }

  & .stroke {
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
  }
}

.section-title__square {
  position: absolute;
  display: inline-block;
  width: 130px;
  height: 130px;
  border: 1px solid var(--border);
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
  animation: pulse 5s infinite alternate;

  @include tablet {
    & {
      display: none;
    }
  }

  @include mobile {
    & {
      display: none;
    }
  }
}

/* about ********/
.about .section-title {
  text-align: left;
}

.about__img {
  height: 100vh;
  overflow: hidden;
}

.about__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: auto;
  min-height: 30vh;
  margin-bottom: 0.5em;

  .card {
    width: calc(33.33% - 27px);
    border-color: var(--border);
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    padding: 20px;
    transition: border-color 0.3s ease;
    position: relative;

    @include mobile {
      &.card {
        width: 100%;
      }
    }

    @include tablet {
      &.card {
        width: calc(50% - 27px);;
      }
    }

    .subtitle {
      font-size: 14px;
      margin: 0;
      position: absolute;
      left: 1em;
      top: 1em;
      opacity: 0.5;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    &:hover {
      border-color: var(--primary);
    }
  }

  .num {
    display: inline-block;
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
  }
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 120px;
  justify-content: space-between;
  padding: 0 120px;

  @include tablet {
    & {
      padding: 0 80px;
    }
  }

  @include mobile {
    & {
      padding: 0;
    }
  }

  .card {
    width: calc(50% - 60px);
    height: 350px;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

    @include tablet {
      &.card {
        width: 100%;
      }
    }

    @include mobile {
      &.card {
        width: 100%;
      }
    }
  }

  .title {
    position: absolute;
    display: inline-block;
    font-size: 40px;
    color: var(--pr-color);
    mix-blend-mode: difference;
    z-index: 2;
  }

  .media {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img, video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.service-container {
  .service__item {
    position: relative;
    padding: 40px 0;
    border-bottom: 1px solid #2f2e2e;

    .text {
      font-size: 50px;
      color: #4b4b4b;
      text-transform: uppercase;

      @include tablet {
        & {
          font-size: 40px;
        }
      }

      @include mobile {
        & {
          font-size: 30px;
        }
      }

      &:hover {
        color: #ffffff;
        transition: color ease 0.3s;
      }
    }
  }

  .service-item-arrow {
    position: absolute;
    display: inline-block;
    width: 55px;
    height: 55px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: rotate(180deg);
    }

    @include tablet {
      & {
        display: none;
      }
    }

    @include mobile {
      & {
        display: none;
      }
    }
  }
}

/* footer ********/

.footer {
  display: flex;

  @include tablet {
    & {
      display: none;
    }
  }

  @include mobile {
    & {
      display: none;
    }
  }

  .footer__div {
    font-size: 70px;
    letter-spacing: 15px;
    text-transform: uppercase;

    & span {
      display: inline-block;
    }
  }
}

.theme-about {
  width: 'calc(50% - 35px)';
}

.theme-border-b {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.theme-text {
  color: #4b4b4b;
}

.theme-stroke {
  color: transparent;
  -webkit-text-stroke: 1px var(--pr-color);
}

.sakura-navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.active-header {
  /* box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2); */
  backdrop-filter: blur(10px);
  transition: 0.85s;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sponsorkit-avatar {
  cursor: pointer;
}
.sponsorkit-tier-title {
  font-weight: 600;
  font-size: 20px;
  fill: currentColor;
}
.sponsorkit-name {
  font-weight: 300;
  font-size: 15px;
  transform: translateY(8px);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

h2 + p > em:first-child {
  opacity: 0.5;
  display: block;
  margin-top: -20px;
  font-size: 0.9em;
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html:not(.no-sliding) [slide-enter],
  html:not(.no-sliding) .slide-enter,
  html:not(.no-sliding) .slide-enter-content > *:not(:has(.table-of-contents)) {
    --enter-stage: 0;
    --enter-step: 90ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(
      var(--enter-initial) + var(--enter-stage) * var(--enter-step)
    );
  }

  .slide-enter-content > *:nth-child(1) {
    --enter-stage: 1 !important;
  }
  .slide-enter-content > *:nth-child(2) {
    --enter-stage: 2 !important;
  }
  .slide-enter-content > *:nth-child(3) {
    --enter-stage: 3 !important;
  }
  .slide-enter-content > *:nth-child(4) {
    --enter-stage: 4 !important;
  }
  .slide-enter-content > *:nth-child(5) {
    --enter-stage: 5 !important;
  }
  .slide-enter-content > *:nth-child(6) {
    --enter-stage: 6 !important;
  }
  .slide-enter-content > *:nth-child(7) {
    --enter-stage: 7 !important;
  }
  .slide-enter-content > *:nth-child(8) {
    --enter-stage: 8 !important;
  }
  .slide-enter-content > *:nth-child(9) {
    --enter-stage: 9 !important;
  }
  .slide-enter-content > *:nth-child(10) {
    --enter-stage: 10 !important;
  }
  .slide-enter-content > *:nth-child(11) {
    --enter-stage: 11 !important;
  }
  .slide-enter-content > *:nth-child(12) {
    --enter-stage: 12 !important;
  }
  .slide-enter-content > *:nth-child(13) {
    --enter-stage: 13 !important;
  }
  .slide-enter-content > *:nth-child(14) {
    --enter-stage: 14 !important;
  }
  .slide-enter-content > *:nth-child(15) {
    --enter-stage: 15 !important;
  }
  .slide-enter-content > *:nth-child(16) {
    --enter-stage: 16 !important;
  }
  .slide-enter-content > *:nth-child(17) {
    --enter-stage: 17 !important;
  }
  .slide-enter-content > *:nth-child(18) {
    --enter-stage: 18 !important;
  }
  .slide-enter-content > *:nth-child(19) {
    --enter-stage: 19 !important;
  }
  .slide-enter-content > *:nth-child(20) {
    --enter-stage: 20 !important;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

/* Overrides Floating Vue */
.v-popper--theme-dropdown .v-popper__inner,
.v-popper--theme-tooltip .v-popper__inner {
  --at-apply: bg-base text-base rounded border border-base shadow;
  box-shadow: 0 6px 30px #0000001a;
}

.v-popper--theme-tooltip .v-popper__arrow-inner,
.v-popper--theme-dropdown .v-popper__arrow-inner {
  visibility: visible;
  --at-apply: border-white dark: border-black;
}

.v-popper--theme-tooltip .v-popper__arrow-outer,
.v-popper--theme-dropdown .v-popper__arrow-outer {
  --at-apply: border-base;
}

.v-popper--theme-tooltip.v-popper--shown,
.v-popper--theme-tooltip.v-popper--shown * {
  transition: none !important;
}

/* Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
