// @use 'valaxy/client/styles/mixins/index.scss' as *;
@use 'valaxy/client/styles/mixins/index.scss' as * with (
  $namespace: 'sakura'
);
@use './markdown.css' as *;
@use './gasp.scss' as *;

// markdown-it-github-alerts
@use 'markdown-it-github-alerts/styles/github-colors-light.css' as *;
@use 'markdown-it-github-alerts/styles/github-colors-dark-class.css' as *;
@use 'markdown-it-github-alerts/styles/github-base.css' as *;

@use 'valaxy-theme-sakura/styles/animation/fading/fading.scss' as *;
@use 'valaxy-theme-sakura/styles/animation/slide/slide.scss' as *;
@use 'valaxy-theme-sakura/styles/common/animation.scss' as *;
@use 'valaxy-theme-sakura/styles/layouts/layout.scss' as *;
@use 'valaxy-theme-sakura/styles/vars' as *;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --un-prose-links: var(--sakura-color-action);
  --un-prose-body: var(--sakura-color-text);

  // z-index
  --va-z-overlay: var(--sakura-backdrop-z, 2);

  --va-c-bg: var(--c-bg) !important;

  @include set-css-var-from-map($light);
  @include set-css-var-from-map($common);

  --va-font-family-base: 'Chinese Quotes', 'Inter var', 'Inter', ui-sans-serif, system-ui, -apple-system,
    blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', helvetica, arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html.dark {
  @include set-css-var-from-map($dark);
}

/* 1.1.general-setting-pages *************************/
/****************************************************/
:root {
  --pr-color: #fff;
  --second-color: #050505;
  --cubicbz: cubic-bezier(0.9 0 0.1 1);
  --fz-big: 60px;
  --st-c-footer-height: 90px;
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;

  // utilities
  --debug: 0;

  --card-radius: 6px;
}

:root {
  color-scheme: only dark;
}

*,
*:before,
*:after {
  outline: calc(var(--debug) * 1px) red dashed;
}

html {
  background-color: var(--c-bg);
  overflow-x: hidden;
  overflow-y: scroll;
}

html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

::selection {
  background: #8884;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #888;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

// Ensure that the home page style of the mobile terminal is displayed correctly
.container {
  @include tablet {
    & {
      max-width: 100% !important;
      padding: 0 30px;
    }
  }
  @include mobile {
    & {
      max-width: 100% !important;
      padding: 0 10px;
    }
  }
}

.char {
  display: inline-block;
}

.theme-about {
  width: 'calc(50% - 35px)';
}

.theme-border-b {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.theme-text {
  color: #4b4b4b;
}

.theme-stroke {
  color: transparent;
  -webkit-text-stroke: 1px var(--pr-color);
}

.sakura-navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0);

  &.active-header {
    /* box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2); */
    backdrop-filter: blur(10px);
    transition: 0.85s;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

#app main {
  padding: 0 !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.navbar-title {
  .logo-link {
    span:first-child {
      padding: 2px;
    }

    &:hover span {
      color: #fff !important;
      background: none !important;
    }
  }

  span {
    font-size: clamp(0.66rem, 2vw, 1.25rem);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.25em;
  }
}
